ul {
	margin:0;
	padding-left:0;
	list-style-type:none;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}

li {
	margin:5px;
	border-radius:10px;
}

.playerCard {
	border-radius:10px;
	border-color:#d8dade;
	border-style:solid;
	border-width:1px;
	padding:5px;
	width:150px;
}

.playInfo {
	font-variant:all-petite-caps;
	display:flex;
	justify-content:space-evenly;
}

.player {
	display:flex;
	font-family:'Staatliches';
}
.draftInfo {
	display:flex;
	justify-content:space-evenly;
	margin-top:2px;
}

.picks {
	display:grid;
	justify-items:center;
	text-align:center;
	font:small-caption;
	font-size:x-small;
}