/* Tables (infoboxes, navboxes, plain wikitables) */
#tblRoster {
    border-collapse: collapse;
}
#tblRoster th {
    background-color: #00338D !important;
    color: #FFFFFF !important;
    box-shadow: inset 2px 2px 0 #C60C30, inset -2px -2px 0 #C60C30;
}
#tblRoster td {
    border: 1px solid #a2a9b1;
    padding: 0.25rem;
}
#tblRoster caption {
    caption-side: bottom;
}