body {
	background: black;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Staatliches', cursive;
}

h2 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.FAexcl {
	font-style: italic;
	color: #808080;
}

.DRexcl {
		background-color: rgb(255, 128, 128);
		color: #930000;
}

.NONexcl {
		font-weight: bold;
}

textarea {
		text-align: left;
}
