body {
	background: black;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Staatliches', cursive;
}

h2 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.FAexcl {
	font-style: italic;
	color: #808080;
}

.DRexcl {
		background-color: rgb(255, 128, 128);
		color: #930000;
}

.NONexcl {
		font-weight: bold;
}

.KEEP {
		background-color: rgb(63, 163, 0);
}

.equation {
	font-family: monospace;
	text-align: center;
}

.draftBoard {
	width: 100%;
	border-collapse: collapse;
	font-family: sans-serif;
}

.draftBoard thead tr {
	background-color: gray;
	line-height: 2.5;
}

.draftBoard thead th {
	border: thin solid blue;
	width: 25px;
}

.draftBoard tbody tr {
	background-color: white;
	color: black;
	line-height: 2;
}

.draftBoard tbody th {
	border: thin solid blue;
	width: auto;
}

th[pos='QB'] {	background-color: #e08282;}
th[pos='RB'] {	background-color: #8ccf8c;}
th[pos='WR'] {	background-color: #dedb97;}
th[pos='TE'] {	background-color: #97acde;}
th[pos='K'] {	background-color: #a684c2;}
th[pos='DEF'] {	background-color: #e3a976;}
th[keep='1'] {	font-style: italic; background-color: #000; color: #03ff00;}

.topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
	font-family: 'Staatliches', cursive;
}
.topnav #myLinks {
	display: none;
}
.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #04AA6D;
  color: white;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}