body {
	background: black;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Staatliches', cursive;
}

h2 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.FAexcl {
	font-style: italic;
	color: #808080;
}

.DRexcl {
		background-color: rgb(255, 128, 128);
		color: #930000;
}

.NONexcl {
		font-weight: bold;
}

.KEEP {
		background-color: rgb(63, 163, 0);
}

.head { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.right { grid-area: right; }
.foot { grid-area: footer; }
.notice { grid-area: notice; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'menu main right'
    'menu footer footer';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}

.menu-container {
	display: grid;
	grid-template-columns: auto;
	gap: 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.equation {
	font-family: monospace;
	text-align: center;
}

nav {
	background: gray;
}

.nav-container {
	display: grid;
	justify-content: space-between;
	grid-template-areas: 
	'menu notice';
	gap: 10px;
	padding: 10px;
}

.draftBoard {
	width: 100%;
	border-collapse: collapse;
	font-family: sans-serif;
}

.draftBoard thead tr {
	background-color: gray;
	line-height: 2.5;
}

.draftBoard thead th {
	border: thin solid blue;
	width: 25px;
}

.draftBoard tbody tr {
	background-color: white;
	color: black;
	line-height: 2;
}

.draftBoard tbody th {
	border: thin solid blue;
	width: auto;
}

.topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
	font-family: 'Staatliches', cursive;
}
.topnav #myLinks {
	display: none;
}
.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #04AA6D;
  color: white;
}
