body {
	background: black;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Staatliches', cursive;
}

h2 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

.FAexcl {
	font: italic;
	color: #808080;
}

.DRexcl {
		background-color: rgb(255, 128, 128);
		color: #930000;
}
