body {
	background: black;
	color: white;
}

h1 {
	text-align: center;
	font-family: 'Staatliches', cursive;
}

h2 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.FAexcl {
	font-style: italic;
	background-color: #c0c0c0;
	color: #000000;
}

.DRexcl {
		background-color: rgb(255, 128, 128);
		color: #930000;
}

.NONexcl {
		font-weight: bold;
}

.KEEP {
		background-color: rgb(63, 163, 0);
}

.equation {
	font-family: monospace;
	text-align: center;
}

.topnav {
	overflow: hidden;
	background-color: #333;
	position: relative;
	font-family: 'Staatliches', cursive;
}
.topnav #myLinks {
	display: none;
}
.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  background-color: #04AA6D;
  color: white;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

#announce {
	text-align: center;
}

.champ {
	color: #ffbb33;
}

.dead {
	color: #808080;
	font-style: italic;
}

#PlayoffNotes {
	margin-left: 50px;
}

dt {
	margin-bottom: 5px;
}
dd {
	margin-bottom: 5px;
}